html {
  font-size: 62.5%;
}

body {
  color: #333;
}

.header{
    background: #0d7619;
    display: flex;
    align-items: center;
}

header a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

header ul {

  list-style-type: none;
  display: flex;

}

header li {
    margin-right: 10px;
    margin-left: auto;
}

header nav{

    margin-left: auto;
}

.part1{
    background-size: cover;
    background-image: url(../img/banniere.jpg);
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.part1 p{
  text-align: center;
  font-size: 15px;
    color: black;
}

.part1 h1{
  text-align: center;
  font-size: 25px;
    text-transform: uppercase;
    color: black;
}

.part1 h2{
  text-align: center;
    font-size: 20px;
    color: green;
    text-transform: uppercase;
}

.part1 button {
border-radius: 10px;
    background: green;
}

.part1 img{
display:block;
}



.part2 {
      padding: 60px;
  text-align: center;
    color: black;
  font-size: 30px;
}

.part2 h1{
  text-align: center;
  font-size: 25px;
    text-transform: uppercase;
    color: grey;
}

.part2 p{
    text-align: center;
  font-size: 15px;
    color: grey;
    line-height:30px;
      margin-left: 400px;
  margin-right: 400px;
}


.part4 {
    background: #E8E8E4;
      padding: 60px;
  text-align: center;
  color: black;
  font-size: 30px;
}
.gauche {
    float:left;
    width:58%;
}
.droite {
    margin-right:18%;
        padding-top:10px;
}

.part4 h1{
  text-align: center;
  font-size: 25px;
    text-transform: uppercase;
    color: grey;
}

.part4 h2{
  text-align: center;
    font-size: 20px;
    color: green;
    text-transform: uppercase;
}

.part4 p{
    text-align: center;
  font-size: 15px;
    color: grey;
    line-height:30px;
      margin-left: auto;
  margin-right: auto;
}

.part4 span{
    text-align: center;
  font-size: 15px;
    color: black;
    line-height:30px;
      margin-left: auto;
  margin-right: auto;
}

.part4 button {
    padding: 10px;
    position: relative;
    display: flex;
    top: 20px;
    left:-260px;
border-radius: 10px;
    background: green;
}


.part5 {
    margin: 0 auto;
     width: 1300px;
}


.part5 h1{
  text-align: center;
  font-size: 25px;
    text-transform: uppercase;
    color: black;
}

.part5 h2{
  text-align: center;
    font-size: 14px;
    color: grey;
}

.roundedImage p{
    text-align: center;
  font-size: 19px;
    color: black;
    line-height:10px;
}

.roundedImage span{
    text-align: center;
  font-size: 15px;
    color: grey;
    line-height:20px;
      margin-left: auto;
  margin-right: auto;
}

.roundedImage{
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    flex-basis: 25%;
    text-align: center;
    justify-content: center;
    padding-bottom: 70px;
}

.roundedImage img {
    width:50%;
}

.roundedImage button {
    display: flex;
   margin-left: 90px;
    padding: 10px;
    margin-top: 20px;
border-radius: 10px;
    background: green;
}

.centrer1 {
    display: flex;
   padding-left: 370px;
}

.part6 h1{
  text-align: center;
  font-size: 25px;
    text-transform: uppercase;
    color: black;
}

.parent1{
   display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 70px;
}

#fond {
  position : absolute;
  width: 99%;
  height: 10%;
}

#CarreVert{
    position: relative;
    left: 10%;

width: 20%;
height: 60%;
margin: 20px;
padding-bottom: 5%;
background-color: green;
}

#CarreVert h2{
   color: white;
    font-size: 28px;
    padding-top: 20%;
     padding-left: 20%;
     text-decoration: underline;
}


.part7 h1{
  margin-top : 30%;
 text-align: center;
  font-size: 25px;
    text-transform: uppercase;
    color: black;
}

.parent {
display: grid;
    padding-left: 400px;
    padding-bottom: 160px;
    width: 1600px;
    height: 1200px;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-column-gap: 10px;
grid-row-gap: 10px;
grid-template-areas:
            "1 1 2 2"
            "1 1 2 2"
            "3 4 5 6"
            "7 8 9 10"
}



#div1 {
    position: relative;
}

#div1 img {
    position: absolute;
    top:0;
    left:0;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
}

.parent > div img{
    width: 100% !important;
    height: 100% !important;
}

#div1 p {
    position: absolute;
    z-index: 3;
}


#div2 {
    position: relative;
}

#div2 img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#div2 p {
    position: absolute;
    z-index: 3;
}


.parent p{
     padding-leftwidth: 100% !important;: 9px;
    text-align: left;
  font-size: 25px;
    color: black;
    line-height:20px;

}

.image{
  width : 200px;
  height : 100px;
}

.part8 {
   position: relative;
    background: #E8E8E4;
      padding: 60px;
  text-align: center;
  color: black;
  font-size: 30px;
}

.part8 h1{
 text-align: center;
  font-size: 25px;
    text-transform: uppercase;
    color: black;
}

.part8 #block{
  margin-left: 35%;
  display: flex;

}

#part9{
  background-color: black;
  color: white;
}

#part9  ul {
  list-style-type: none;
  display: flex;
}

#part9 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

#part9 nav{

    margin-left: auto;
}

.part8 > div > div{
    width: 20%;
    height: 100%;
    
}
